* {
    padding: 0;
    margin: 0;
}

main {
    background-size: cover;
}

.image {
    background-image: url(/img/praia-boa-viagem.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}